root {
    --primary-color: #ff7f2d;
    --secondary-color: #ac8978;
    --tertiary-color: #97925f;
    --neutral-color: #998f8a;
    --text-color: #201a17;
    --background-color: #fffbff;
    --container-color: #faf1f2;
    --light-filled-color: #ffdbca;
    --dark-filled-color: #9d4400;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Roboto', sans-serif;
    color: #201a17;
}

body {
    margin: 4rem 2rem 1rem 2rem;
    background-color: #fffbff;
}

/* Top navigation bar */
.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px #ac8978 solid;
    z-index: 9;
    background-color: #fffbff;
}

.top-nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-nav > ul > li {
    margin: 0 1rem;
}

.top-nav > ul > li > a {

    font-weight: 400;
    text-decoration: none;
    transition: 0.2s ease-out;
}

#already-login-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}

/* Footer */
.footer {
    background-color: #faf1f2;
    border-radius: 1.875rem;
    padding: 3rem;
}

.footer:not(h2) {
    font-size: 1rem;
}

.section.footer {
    margin-top: 5rem;
}

/* Button */
button {
    border:none;
    border-radius: 0.5rem;
}

.button {
    border: none;
    padding: 0.5rem 1.25rem;
    transition: 0.2s ease-out;
    text-align: center;
}

.button:hover {
    letter-spacing: 2px;
    box-shadow: 3px 3px 6px -3px rgba(77, 77, 77, 0.71);
}

.nav-button {
    color: #201a17;
    border-radius: 100px;
}

.nav-button:hover {
    /*color: #201a17;*/
    /*background-color: #ffdbca;*/
    border-radius: 100px;
    transition: 0.3s ease-out;
    letter-spacing: 2px;
}

.light-filled-button {
    background-color: #ffdbca;
    color: #201a17;
}

.dark-filled-button {
    background-color: #9d4400;
    color: #fff;
}

.rounded-button {
    border-radius: 10px;
}

.outlined-button {
    border: 1px solid #9d4400;
    color: #201a17;
    background-color: transparent;
}

/* Container */
.container {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #faf1f2;
    border-radius: 1.875rem;
    padding: 2rem
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Wrapper */
.two-col__wrapper {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    justify-items: center;
}


/* Form */
.form__container {
    width: calc(45vw);
}

form {
    width: calc(30vw);
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.hidden-form {
    width: auto;
}

label {
    font-size: 1rem;
    font-weight: 500;
}

input {
    font-size: 1rem;
    position: relative;
    border-radius: 0.5rem;
    height: 3rem;
    color: #201a17;
    margin: 0.5rem 0;
    transition: 0.2s ease-out;
}

/*input[type="text"], input[type="password"], input[type="email"] {*/
input:not([type="submit"]) {
    padding: 0 1.5rem;
    background-color: #faf1f2 !important;
    border: 2px #201a17 solid;
}

/*input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {*/
input:not([type="submit"]):focus {
    outline: none;
    border: 2px #9d4400 solid;
    transition: 0.3s ease-out;
}

input:not([type="submit"])::placeholder {
    transition: 0.2s ease-out;
}

input:not([type="sumbit"]):hover::placeholder {
    letter-spacing: 2px;
    transition: 0.3s ease-out;
}


input[type="submit"] {
    border: none;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #9d4400;
    color: #fff;
}

/* headings */
h1 {
    font-size: 2rem;
    font-weight: 500;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

a {
    cursor: pointer;
    transition: 0.3s ease-out;
}

a:hover {
    color: #9d4400;
    transition: 0.3s ease-out;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #fffbff;
}

::-webkit-scrollbar-thumb {
    background: #9d4400;
    border-radius: 50px;
}

#link-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#link-list > li {
    margin: 0.5rem 0;
}

#link-list > li > a {
    text-decoration: none;
    color: #201a17;
    transition: 0.3s ease-out;
    font-weight: 400;
}

/* Back to Top */

.back-to-top {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
    border-radius: 20px;
    animation-name: fade;
    animation-duration: 0.6s;
}

.back-to-top > * {
    cursor: pointer;
}

.slides {
    width: 100%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 0.5rem;
    row-gap: 1rem;
}

.slide-cards {
    /*display:none;*/
    min-width: calc(18vw);
    margin: 0.5rem;
    max-width: calc(22vw);
    border: 2px solid transparent;
}

.slide-cards > * {
    text-overflow: ellipsis;
}

.slide-cards:hover {
    box-shadow: 3px 3px 6px -3px rgba(77, 77, 77, 0.71);
    animation-name: fade;
    animation-duration: 0.4s;
    transition: 0.4s ease-out;
    border: 2px solid #9d4400;
}

/* Drop down menu */
.drop-down-contents {
    width: auto;
    display: none;
    padding: 1rem;
    background-color: #fffbff;
    border-radius: 10px;
    z-index: 99999;
    position: absolute;
    box-shadow: 3px 3px 6px -3px rgba(77, 77, 77, 0.71);
    animation-name: fade;
    animation-duration: 0.4s;
}

.drop-down-links {
    position: relative;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 5px;
    margin: 0.5rem;
}

.drop-down-links:hover {
    background-color: #ffdbca;
    color: #201a17;

}

.drop-down-menu:hover .drop-down-contents {
    display: flex;
    flex-direction: column;

}

/* Animations */
@keyframes fade {

    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

@keyframes blur {
    from {
        backdrop-filter: blur(20px);
    }
    to {
        backdrop-filter: blur(0);
    }

}

/* Tab */
.tab {
    width: auto;
    margin: 2rem
}

.tab-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 4rem;
    color: #ffdbca;
    border-radius: 100px;
    padding: 0;

}

.tab-headers > * {
    cursor: pointer;
    padding: 1rem;
    border-radius: 100px;
    transition: 0.3s ease-out;
    /*margin: 0 0.25rem;*/
}

.tab-headers > *:hover, .tab-headers > *.active {
    background-color: #ffdbca;
    color: #201a17;
    transition: 0.3s ease-out;
}

.tab-contents {
    width: 100%;
}

.tab-content {
    width: auto;
    display: none;
    padding: 1rem;
    background-color: #faf1f2;
    border-radius: 10px;

    animation-name: fade;
    animation-duration: 0.4s;
}

.tab-content.active {
    display: block;
}

/*  Span */
.error-span {
    color: crimson;
    font-size: 0.8rem;
}

.successful-span {
    display: flex;
    align-items: center;
    color: limegreen;
    font-size: 1rem;
}

.successful-span > * {
    color: limegreen;
    font-size: 1rem;
}

/* Modal */
.modal {
    display: none;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(9px);
    background-color: rgba(72, 72, 72, 0.47);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    animation-name: fade;
    animation-duration: 0.5s;
}

.modal-content {
    background-color: #fffbff;
    border-radius: 20px;
    padding: 2rem;
    width: 80%;
    margin: 10% auto;
}
.modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.modal-footer > * {
    margin: 1rem;
}
