root {
    /*--primary-color: #ff7f2d;*/
    /*--secondary-color: #ac8978;*/
    /*--tertiary-color: #97925f;*/
    /*--neutral-color: #998f8a;*/
    /*--text-color: #201a17;*/
    /*--background-color: #fffbff;*/
    /*--container-color: #faf1f2;*/
    /*--light-filled-color: #ffdbca;*/
    /*--dark-filled-color: #9d4400;*/

    /* COLOR PALETTE GET FROM PROGRAMIZ.COM */

    --primary-color: #0556f3;
    --soft-color: #fffaea;
    --active-color: #03338f;
    --background-color: #fff;
    --text-color: #222222;
    --light-filled-button-hover-background: #e6f5ff;
    --footer-color: #2b324d;

}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 5rem 0 0 0;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

a {
    color: #222222;
}


.hide {
    display: none;
    animation-name: fade;
    animation-duration: 0.5s;
}

.float {
    box-shadow: 0 0 40px 0 rgba(102, 102, 102, 0.3);
    animation-name: fade;
    animation-duration: 0.4s;
}

/* Top navigation bar */
.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 9;
    background-color: #fff;
    animation-name: fade;
    animation-duration: 0.4s;
}

.top-nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-nav > ul > li {
    margin: 0 1rem;
}

.top-nav > ul > li > a {
    color: #222222;
    font-weight: 400;
    text-decoration: none;
    transition: 0.2s ease-out;
}

#already-login-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}

/* Footer */
.footer {
    background-color: #2b324d;
    padding: 3rem;
}

.footer > *, .footer > ul > li > a {
    color: #fff;
}

.footer:not(h2) {
    font-size: 1rem;
}

.section.footer {
    margin-top: 5rem;
}

section:not(.section.footer) {
    margin: 2rem 2rem;
}

/* Button */
button {
    border: none;
    border-radius: 0.5rem;
}

.button {
    border: none;
    padding: 0.5rem 1.25rem;
    transition: 0.2s ease-out;
    text-align: center;
}

.button:hover {
    letter-spacing: 2px;
    box-shadow: 3px 3px 6px -3px rgba(77, 77, 77, 0.71);
}

.nav-links {
    color: #222222;
    border-radius: 10px;
    padding: 0.5rem;
}

.nav-links:hover {
    /*color: #201a17;*/
    /*background-color: #ffdbca;*/
    background-color: #e6f5ff;
    text-decoration: dashed;
    transition: 0.3s ease-out;
    /*letter-spacing: 2px;*/
}

.light-filled-button {
    background-color: #e6f5ff;
    color: #222222;
}

.primary-filled-button {
    background-color: #0556f3;
    color: #fff;
}

.rounded-button {
    border-radius: 10px;
}

.outlined-button {
    border: 2px solid #0556f3;
    color: #0556f3;
    background-color: transparent;
}

/* Container */
.container {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 5px 5px 60px #d9d9d9,
    -10px -10px 60px #ffffff;;
    border-radius: 10px;
    padding: 2rem
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 100%;
}

.wrapper > * {
    margin: 0.5rem;
}

/* Wrapper */
.two-col__wrapper {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    justify-items: center;
}


/* Form */
.form__container {
    width: calc(45vw);
}

form {
    width: calc(30vw);
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.hidden-form {
    width: auto;
}

label {
    font-size: 1rem;
    font-weight: 500;
}

input {
    font-size: 1rem;
    position: relative;
    border-radius: 0.5rem;
    height: 3rem;
    color: #222222;
    margin: 0.5rem 0;
    transition: 0.2s ease-out;
}

/*input[type="text"], input[type="password"], input[type="email"] {*/
input:not([type="submit"]) {
    padding: 0 1.5rem;
    background-color: #fff !important;
    border: 2px #222222 solid;
}

/*input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {*/
input:not([type="submit"]):focus {
    outline: none;
    border: 2px #0556f3 solid;
    transition: 0.3s ease-out;
}

input:not([type="submit"])::placeholder {
    transition: 0.2s ease-out;
}

input:not([type="sumbit"]):hover::placeholder {
    letter-spacing: 2px;
    transition: 0.3s ease-out;
}


input[type="submit"] {
    border: none;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #03338f;
    color: #fff;
}

/* headings */
h1 {
    font-size: 2rem;
    font-weight: 500;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

a {
    cursor: pointer;
    transition: 0.3s ease-out;
}

a:hover {
    color: #0556f3;
    transition: 0.3s ease-out;
}

/*!* custom scroll bar *!*/
/*::-webkit-scrollbar {*/
/*    width: 0.5rem;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    background: #fff;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background: #2b324d;*/
/*}*/

#link-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#link-list > li {
    margin: 0.5rem 0;
}

#link-list > li > a {
    text-decoration: none;
    color: #ccedff;
    transition: 0.3s ease-out;
    font-weight: 400;
}

#link-list > li > a:hover {
    color: #fff;
}

/* Back to Top */

.back-to-top {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
    border-radius: 20px;
    animation-name: fade;
    animation-duration: 0.6s;
}

.back-to-top > * {
    cursor: pointer;
}

.grid-items {
    width: 100%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 0.5rem;
    row-gap: 1rem;
}

.item-cards {
    /*display:none;*/
    min-width: calc(18vw);
    margin: 0.5rem;
    max-width: calc(22vw);
    border: 2px solid transparent;
}

.item-cards > * {
    text-overflow: ellipsis;
}

.item-cards:hover {
    box-shadow: 3px 3px 6px -3px rgba(77, 77, 77, 0.71);
    animation-name: fade;
    animation-duration: 0.4s;
    transition: 0.4s ease-out;
    border: 2px solid #0556f3;
}

/* Drop down menu */
.drop-down-contents {
    width: auto;
    display: none;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    z-index: 99999;
    position: absolute;
    box-shadow: 3px 3px 6px -3px rgba(77, 77, 77, 0.71);
    animation-name: fade;
    animation-duration: 0.4s;
}

.drop-down-links {
    position: relative;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 5px;
    margin: 0.5rem;
}

.drop-down-links:hover {
    background-color: #e6f5ff;
    color: #222222;

}

.drop-down-menu:hover .drop-down-contents {
    display: flex;
    flex-direction: column;

}

/* Animations */
@keyframes fade {

    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

@keyframes blur {
    from {
        backdrop-filter: blur(20px);
    }
    to {
        backdrop-filter: blur(0);
    }

}

/* Tab */
.tab {
    width: auto;
    margin: 2rem
}

.tab-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 4rem;
    border-radius: 100px;
    padding: 0;

}

.tab-headers > * {
    cursor: pointer;
    padding: 1rem;
    border-radius: 100px;
    transition: 0.3s ease-out;
    /*margin: 0 0.25rem;*/
}

.tab-headers > *:hover {
    background-color: #0556f3;
    color: #fff;
    transition: 0.2s ease-out;
}

.tab-headers > *.active {
    background-color: #03338f;
    color: #fff;
    transition: 0.2s ease-out;
}

.tab-contents {
    width: 100%;
}

.tab-content {
    width: auto;
    display: none;
    animation-name: fade;
    animation-duration: 0.4s;
}

.tab-content.active {
    display: block;
}

/*  Span */
.error-span {
    color: crimson;
    font-size: 0.8rem;
}

.successful-span {
    display: flex;
    align-items: center;
    color: limegreen;
    font-size: 1rem;
}

.successful-span > * {
    color: limegreen;
    font-size: 1rem;
}

/* Modal */
.modal {
    display: none;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(9px);
    background-color: rgba(72, 72, 72, 0.47);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    animation-name: fade;
    animation-duration: 0.5s;
}

.modal-content {
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem;
    width: 80%;
    margin: 10% auto;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.modal-footer > * {
    margin: 1rem;
}

/* Slide */
.slide {
    height: calc(75vh);
    overflow-y: auto;
}


.film-card {
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    background-color: #fffbff;
    box-shadow: 3px 3px 6px -3px rgba(77, 77, 77, 0.71);
    border-radius: 10px;
    border: 2px solid #0556f3;
    /*justify-content: center;*/
}

.film-card.two-col__wrapper {
    grid-template-columns: 1.5fr 1fr !important;
}

.film-card:hover {
    transition: 0.3s ease-out;
    background-color: #ccedff;
    border: 2px solid transparent;
}


