root {
    /*--primary-color: #ff7f2d;*/
    /*--secondary-color: #ac8978;*/
    /*--tertiary-color: #97925f;*/
    /*--neutral-color: #998f8a;*/
    /*--text-color: #201a17;*/
    /*--background-color: #fffbff;*/
    /*--container-color: #faf1f2;*/
    /*--light-filled-color: #ffdbca;*/
    /*--dark-filled-color: #9d4400;*/

    /* COLOR PALETTE GET FROM PROGRAMIZ.COM */

    --primary-color: #0556f3;
    --soft-color: #fffaea;
    --active-color: #03338f;
    --background-color: #fff;
    --text-color: #222222;
    --light-filled-button-hover-background: #e6f5ff;
    --footer-color: #2b324d;

}

html {
    scroll-behavior: smooth;
    transition: 0.3s ease-out;
}

* {
    font-family: 'Inter', sans-serif;
    font-size: 0.95rem;
}

body {
    margin: 5rem 0 0 0;
    background-color: #f6f9fc;
}

main {
    margin: 0 2rem;
}

.font-bold {
    font-weight: 600 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;

}

h1 {
    font-size: 1.75rem;
    animation-name: tracking-in-contract;
    animation-duration: 0.6s;
}

h2 {
    font-size: 1.5rem;
    animation-name: tracking-in-contract;
    animation-duration: 0.6s;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}


.title {
    margin: 2rem auto;
}

a {
    cursor: pointer;
    transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
}

button {
    background-color: transparent;
}

.links {
    color: #0556f3;
}

.links:hover {
    color: #03338f;
    transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
}


.hide {
    display: none;
    animation-name: fade;
    animation-duration: 0.5s;
    -moz-animation: fade;
    -moz-animation-duration: 0.5s;
}

.float {
    box-shadow: 0 0 40px 0 rgba(102, 102, 102, 0.3);
    -moz-animation: fade;
    -moz-animation-duration: 0.4s;
    animation-name: fade;
    animation-duration: 0.4s;
}

.float-tab-dynamic {
    box-shadow: 0 0 40px 0 rgba(102, 102, 102, 0.3);
    position: fixed;
    animation-name: fade;
    animation-duration: 0.4s;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9;
}

/* Top navigation bar */
.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    z-index: 9;
    background-color: #fff;
    -moz-animation-name: fade;
    -moz-animation-duration: 0.4s;
    animation-name: fade;
    animation-duration: 0.4s;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.top-nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-nav > ul > li {
    margin: 0 1rem;
}

.top-nav > ul > li > a {
    color: #222222;
    font-weight: 400;
    text-decoration: none;
    transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
}


/* Footer */
.footer {
    background-color: #2b324d;
    padding: 3rem;
    margin-top: 5rem;
}

.footer > *, .footer > ul > li > a {
    color: #fff;
}

.footer:not(h2) {
    font-size: 1rem;
}

section {
    margin: 2rem 2rem;
}

.hero {
    margin: 5rem 2rem;
}

/* Button */
button {
    border: none;
    border-radius: 0.5rem;
}

.button {
    border: 2px solid transparent;
    padding: 0.5rem 1.25rem;
    transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    box-shadow: 3px 3px 6px -3px rgba(77, 77, 77, 0.71);
}

.nav-links {
    color: #222222;
    border-radius: 10px;
    padding: 0.5rem;
}

.nav-links:hover {
    /*color: #201a17;*/
    /*background-color: #ffdbca;*/
    background-color: #f6f9fc;
    text-decoration: dashed;
    transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    /*letter-spacing: 2px;*/
}

.light-filled-button {
    background-color: #e6f5ff;
    color: #222222 !important;
}

.outlined-warning-button {
    border: 2px solid #ff3333;
    color: #ff3333;
    background-color: transparent;
}

.filled-warning-button, .outlined-warning-button:hover {
    background-color: #e02323;
    color: #fff;
    transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
}

.filled-warning-button:hover {
    background-color: #e30f0f;
    transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
}

.primary-filled-button, .outlined-button:hover {
    background-color: #0556f3;
    color: #fff !important;
}

.rounded-button {
    border-radius: 10px;
}

.outlined-button {
    border: 2px solid #0556f3;
    color: #0556f3;
    background-color: transparent;
}

/* Container */
.container {

    max-width: calc(100% - 4rem);
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem
}


.centered-vertical-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered-horizontal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.align-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.justify-center-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.justify-left-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.justify-right-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.justify-center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.justify-left-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.justify-right-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}


.col-align {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.block-list {
    display: inline-block;
}

.wrapper {
    width: 100%;
}

.wrapper > * {
    margin: 0.5rem;
}

/* Wrapper */
.two-col__wrapper {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    justify-items: center;
}

/*.admin_two-col__wrapper {*/
/*    display: grid;*/
/*    grid-template-columns: 0.5fr 2fr;*/
/*    grid-gap: 2rem;*/
/*    justify-content: center;*/
/*    align-items: normal;*/
/*}*/


/* Form */
.form__container {
    width: calc(45vw);
}

form {
    width: calc(30vw);
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.hidden-form {
    width: auto;
    height: 0 !important;
}

label {
    font-size: 1rem;
    font-weight: 500;
}

textarea {
    width: 100%;
    position: relative;
    /*resize: none;*/
    height: 20rem;
    padding: 1rem 1.5rem !important;
}

input, textarea {
    font-size: 1rem;
    position: relative;
    border-radius: 0.5rem;
    height: 3rem;
    color: #222222;
    margin: 0.5rem 0;
    transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
}

/*input[type="text"], input[type="password"], input[type="email"] {*/
input:not([type="submit"]), textarea {
    padding: 0 1.5rem;
    background-color: #fff;
    border: 2px #222222 solid;
}

/*input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {*/
input:not([type="submit"]):focus, input:not([type="file"]):focus, textarea:focus {
    outline: none;
    border: 2px #0556f3 solid;
    transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
}

input:not([type="submit"])::placeholder {
    transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
}

input:not([type="sumbit"]):hover::placeholder {
    letter-spacing: 2px;
    transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
}

input[type="file"] {
    display: none;
}

input[type="submit"] {
    border: none;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #03338f;
    color: #fff;
}


.readonly-input {
    background-color: #e6f5ff !important;
    border: 2px solid #0556f3 !important;
}


/*!* custom scroll bar *!*/
/*::-webkit-scrollbar {*/
/*    width: 0.5rem;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    background: #fff;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background: #2b324d;*/
/*}*/

#link-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#link-list > li {
    margin: 0.5rem 0;
}

#link-list > li > a {
    text-decoration: none;
    color: #ccedff;
    transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    font-weight: 400;
}

#link-list > li > a:hover {
    color: #fff;
}

/* Back to Top */

.back-to-top {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 0.5rem;
    border-radius: 100px;
    animation-name: fade;
    animation-duration: 0.6s;
    -moz-animation-name: fade;
    -moz-animation-duration: 0.6s;
    border: 2px solid #2b324d;
}

.back-to-top > * {
    cursor: pointer;
}

.back-to-top:hover {
    background-color: #2b324d;
    transition: 0.3s ease-out;
}

.back-to-top:hover span {
    color: #ccedff;
    transition: 0.3s ease-out;
}



.grid-items {
    width: 100%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 0.2rem;
    row-gap: 0.2rem;
}

.item-cards {
    /*display:none;*/
    min-width: calc(18vw);
    margin: 0.5rem;
    max-width: calc(22vw);
    transition: 0.4s ease-out;
    -moz-transition: 0.4s ease-out;

    animation-name: slide-up;
    animation-duration: 0.3s;
}

.item-cards > * {
    text-overflow: ellipsis;
    margin: 0.35rem;
}

.item-cards:hover {
    box-shadow: 5px 5px 60px #d9d9d9;
    transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    transform: translateY(-2px);
}

/* Drop down menu */
.drop-down-contents {
    width: auto;
    display: none;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    z-index: 99999;
    position: absolute;
    box-shadow: 3px 3px 6px -3px rgba(77, 77, 77, 0.71);
    animation-name: fade;
    animation-duration: 0.4s;
    -moz-animation-name: fade;
    -moz-animation-duration: 0.4s;
}

.drop-down-links {
    position: relative;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 5px;
    margin: 0.5rem;
    color: #222222;
}

.drop-down-links:hover {
    background-color: #e6f5ff;

}

.drop-down-menu:hover .drop-down-contents {
    display: flex;
    flex-direction: column;

}

/* Animations */

/* ----------------------------------------------
 * Generated by Animista on 2023-10-1 8:48:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        opacity: 1
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        opacity: 1
    }
}

@keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        opacity: 1
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        opacity: 1
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-1 8:39:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(300px);
        transform: translateZ(400px) translateY(300px);
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-1 8:42:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        letter-spacing: normal;
        opacity: 1
    }
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        letter-spacing: normal;
        opacity: 1
    }
}


@keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        transform: translateZ(400px) translateY(300px);
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1
    }
}


@keyframes fade {

    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes blur {
    from {
        backdrop-filter: blur(20px);
    }
    to {
        backdrop-filter: blur(0);
    }

}

/* Tab */
.tab {
    width: auto;
    margin: 2rem
}

.tab-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    border-radius: 100px;
    padding: 0;
    width: fit-content;

}

.tab-headers > * {
    cursor: pointer;
    padding: 1rem;
    border-radius: 100px;
    transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    /*margin: 0 0.25rem;*/
}

.tab-headers > *:hover {
    background-color: #0556f3;
    color: #fff;
    transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
}

.tab-headers > *.active {
    background-color: #03338f;
    color: #fff;
    transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
}

.tab-contents {
    width: 100%;
}

.tab-content {
    width: auto;
    display: none;
    animation-name: fade;
    animation-duration: 0.4s;
    -moz-animation-name: fade;
    -moz-animation-duration: 0.4s;
}

.tab-content.active {
    display: block;
}

/*  Span */
.error-span {
    color: #ff3333;
    font-size: 0.8rem;
}

.successful-span {
    display: flex;
    align-items: center;
    color: limegreen;
    font-size: 1rem;
}

.successful-span > * {
    color: limegreen;
    font-size: 1rem;
}

/* Modal */
.modal {
    display: none;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(9px);
    background-color: rgba(72, 72, 72, 0.47);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    animation-name: fade;
    animation-duration: 0.5s;
    -moz-animation-name: fade;
    -moz-animation-duration: 0.5s;
}

.modal-content {
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem;
    width: 80%;
    margin: 10% auto;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.modal-footer > * {
    margin: 1rem;
}

/* Slide */
.slide {
    position: relative;
    height: 100%;
    padding-top: 2rem;
    /*padding: 2rem;*/
    max-height: calc(70vh);
    overflow-y: auto;
    margin-bottom: 2rem;
}


.wide-card {
    width: calc(50vw);
    padding: 0.5rem;
    margin: 0.25rem;
    align-items: center;
    background-color: #f2f6ff;
    /*border: 1px solid #222222;*/
    border-radius: 5px;
    /*justify-content: center;*/
}

.wide-card_contents {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 0.4fr 0.4fr;
    grid-column-gap: 5px;
    align-items: center;
    justify-content: center;
}

.wide-card_contents > * {
    text-overflow: ellipsis;
}


/*.wide-card.two-col__wrapper {*/
/*    grid-template-columns: 1.5fr 1fr !important;*/
/*}*/

.wide-card:hover {
    transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    box-shadow: 3px 3px 6px -3px rgba(77, 77, 77, 0.71);
}

/* Image Wrapper
 */


.film-img-in-card {
    min-width: calc(18vw);
    max-width: calc(22vw);
    min-height: calc(18vw);
    max-height: calc(22vw);

    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 6px;
    background-size: cover;
}


.admin-two-cols__wrapper {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-column-gap: 1rem;
}

.admin-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.link-active {
    background-color: #0556f3;
    color: #fff;
}

.site-logo {
    color: #0556f3;
    font-size: 1.25rem;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}

.small-icon {
    font-size: 1.2rem;
}

.warning-color {
    color: #ff3333;
}

.warning-color:hover {
    color: #e02323;
}

.primary-color {
    color: #0556f3;
}

.primary-color:hover {
    color: #03338f;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 2px;
    border: 1px solid #ddd;
    animation-name: scale-in-ver-top;
    animation-duration: 0.6s;
}

thead {
    background-color: #0556f3;
    padding: 0.5rem;
    position: sticky;
    top: 3rem;
}

td {
    padding: 0.5rem;
    text-align: center;
    overflow: hidden;
}

tr {
    padding: 2rem;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd
}

tr:not(thead > tr):hover {
    background-color: #f5f5f5;
}

thead > tr > th {
    color: #fff;
    font-weight: 700;
    padding: 0.5rem;
}

.hidden-span {
    display: none;
    transition: 0.2s ease-out;
}

.icon-button:hover > .hidden-span {
    display: inline;
}

